<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890283065088-kcmptb8u0rr6gp91t18f428jn3nns7un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890283065088-kcmptb8u0rr6gp91t18f428jn3nns7un</string>
	<key>API_KEY</key>
	<string>AIzaSyA_qkaMhEl2TFtY2FAQlrVl_ZKkQEYEDSs</string>
	<key>GCM_SENDER_ID</key>
	<string>890283065088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imageeditor</string>
	<key>PROJECT_ID</key>
	<string>imageeditor-c18c6</string>
	<key>STORAGE_BUCKET</key>
	<string>imageeditor-c18c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890283065088:ios:93db887605d9a719a4bde5</string>
</dict>
</plist>